In [6]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [7]:
df = pd.read_csv("bank_marketing.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   client_id       41188 non-null  int64
 1   age             41188 non-null  int64
 2   job             41188 non-null  object
 3   marital         41188 non-null  object
 4   education       41188 non-null  object
 5   credit_default  41188 non-null  object
 6   housing         41188 non-null  object
 7   loan            41188 non-null  object
 8   contact         41188 non-null  object
 9   month           41188 non-null  object
 10  day             41188 non-null  int64
 11  duration        41188 non-null  int64
 12  campaign        41188 non-null  int64
 13  pdays           41188 non-null  int64
 14  previous        41188 non-null  int64
 15  poutcome        41188 non-null  object
 16  emp_var_rate    41188 non-null  float64
 17  cons_price_idx  41188 non-null  float64
 18  cons_conf_idx   41188 non-null  float64
 19  euribor3m       41188 non-null  float64
 20  nr_employed     41188 non-null  float64
 21  y               41188 non-null  object
dtypes: float64(5), int64(7), object(10)
memory usage: 6.9+ MB

In [8]:
df.head()

,client_id,age,job,marital,education,credit_default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,0,56,housemaid,married,basic.4y,no,no,no,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,1,57,services,married,high.school,unknown,no,no,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,2,37,services,married,high.school,no,yes,no,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,3,40,admin.,married,basic.6y,no,no,no,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,4,56,services,married,high.school,no,no,yes,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

# Creating Client Table

client = df[["client_id", "age", "job", "marital", "education", "credit_default", "housing", "loan"]]

client.rename(columns={"client_id":"id"}, inplace=True)

client["education"] = client["education"].str.replace(".", "_")

client["education"] = client["education"].replace("unknown", np.NaN)

client["job"] = client["job"].str.replace(".", "")

client.head()

# Creating Economics Table

In [10]:
economics = df[["client_id", "emp_var_rate", "cons_price_idx", "euribor3m", "nr_employed"]]

economics.rename(columns={"nr_employed":"number_emplyed",
                         "euribor3m":"euribor_three_months"}, inplace=True)
economics.head()

,client_id,emp_var_rate,cons_price_idx,euribor_three_months,number_emplyed
0,0,1.1,93.994,4.857,5191.0
1,1,1.1,93.994,4.857,5191.0
2,2,1.1,93.994,4.857,5191.0
3,3,1.1,93.994,4.857,5191.0
4,4,1.1,93.994,4.857,5191.0

# Creating Campaign Table

In [15]:
campaign = df[["client_id", "campaign", "month", "day", 
               "duration", "pdays", "previous", "poutcome", "y"]]

campaign.rename(columns={"duration": "contact_duration", 
                         "y": "campaign_outcome", 
                         "campaign": "number_contacts",
                         "previous": "previous_campaign_contacts",
                         "poutcome": "previous_outcome"}, 
                         inplace=True)

campaign["campaign_outcome"] = campaign["campaign_outcome"].map({"yes": 1, 
                                                                 "no": 0})


campaign["previous_outcome"] = campaign["previous_outcome"].replace("nonexistent", 
                                                                    np.NaN)
campaign["previous_outcome"] = campaign["previous_outcome"].map({"success": 1, 
                                                                 "failure": 0})


campaign["campaign_id"] = 1


campaign["month"] = campaign["month"].str.capitalize()


campaign["year"] = "2022"


campaign["day"] = campaign["day"].astype(str)


campaign["last_contact_date"] = campaign["year"] + "-" + campaign["month"] + "-" + campaign["day"]


campaign["last_contact_date"] = pd.to_datetime(campaign["last_contact_date"], 
                                               format="%Y-%b-%d")


campaign.drop(columns=["month", "day", "year"], inplace=True)
campaign.head()

,client_id,number_contacts,contact_duration,pdays,previous_campaign_contacts,previous_outcome,campaign_outcome,campaign_id,last_contact_date
0,0,1,261,999,0,NaN,0,1,2022-05-13
1,1,1,149,999,0,NaN,0,1,2022-05-19
2,2,1,226,999,0,NaN,0,1,2022-05-23
3,3,1,151,999,0,NaN,0,1,2022-05-27
4,4,1,307,999,0,NaN,0,1,2022-05-03

In [66]:
campaign.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   client_id                   41188 non-null  int64
 1   number_contacts             41188 non-null  int64
 2   contact_duration            41188 non-null  int64
 3   pdays                       41188 non-null  int64
 4   previous_campaign_contacts  41188 non-null  int64
 5   previous_outcome            5625 non-null   float64
 6   campaign_outcome            41188 non-null  int64
 7   campaign_id                 41188 non-null  int64
 8   last_contact_date           41188 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(7)
memory usage: 2.8 MB

In [16]:
client.to_csv("client.csv",index=False)
campaign.to_csv("campaign.csv",index=False)
economics.to_csv("economics.csv",index=False)

In [17]:
import psycopg2
from sqlalchemy import create_engine

In [54]:
engine = create_engine(f'postgresql://postgres:2637@localhost:5432/Banking_Database')

In [55]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [56]:
%sql postgresql://postgres:2637@localhost:5432/Banking_Database

In [61]:
%%sql

CREATE TABLE client(
    id SERIAL PRIMARY KEY,
    age INTEGER,
    job TEXT,
    marital TEXT,
    education TEXT,
    credit_default TEXT,
    housing TEXT,
    loan TEXT
);

 * postgresql://postgres:***@localhost:5432/Banking_Database
Done.

[]

In [62]:
conn = psycopg2.connect(host='localhost', port='5432', user='postgres', password='2637', dbname='Banking_Database')
cur = conn.cursor()
with open('client.csv', 'r') as f:
    
    next(f) 
    cur.copy_from(f, 'client', sep=',')

conn.commit()

 * postgresql://postgres:***@localhost:5432/Banking_Database
Done.

[]

In [82]:
%%sql

CREATE TABLE campaign
(
    campaign_id SERIAL PRIMARY KEY,
    number_contacts INTEGER,
    contact_duration INTEGER,
    pdays INTEGER,
    previous_campaign_contacts INTEGER,
    previous_outcome TEXT,
    campaign_outcome TEXT,
    client_id SERIAL references client (id),
    last_contact_date DATE    
);

 * postgresql://postgres:***@localhost:5432/Banking_Database
Done.

[]

In [84]:
conn = psycopg2.connect(host='localhost', port='5432', user='postgres', password='2637', dbname='Banking_Database')
cur = conn.cursor()
with open('campaign.csv', 'r') as f:
    
    next(f) 
    cur.copy_from(f, 'campaign', sep=',')

conn.commit()

In [85]:
%%sql

CREATE TABLE economics
(
    client_id SERIAL references client (id),
    emp_var_rate FLOAT,
    cons_price_idx FLOAT,
    euribor_three_months FLOAT,
    number_employed FLOAT
);

 * postgresql://postgres:***@localhost:5432/Banking_Database
Done.

[]

In [87]:
conn = psycopg2.connect(host='localhost', port='5432', user='postgres', password='2637', dbname='Banking_Database')
cur = conn.cursor()
with open('economics.csv', 'r') as f:
    
    next(f) 
    cur.copy_from(f, 'economics', sep=',')

conn.commit()

In [88]:
%%sql

SELECT *
FROM campaign
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/Banking_Database
5 rows affected.

[(0, 1, 261, 999, 0, '', '0', 1, datetime.date(2022, 5, 13)),
 (1, 1, 149, 999, 0, '', '0', 1, datetime.date(2022, 5, 19)),
 (2, 1, 226, 999, 0, '', '0', 1, datetime.date(2022, 5, 23)),
 (3, 1, 151, 999, 0, '', '0', 1, datetime.date(2022, 5, 27)),
 (4, 1, 307, 999, 0, '', '0', 1, datetime.date(2022, 5, 3))]